/*css for both blog and work, since they are the same, almost*/
#footerNavMenu li{
    list-style: none;
    float: right;
    margin: 1rem 0.625rem;
}


#mainContent{
    margin: 4.375rem 9.375rem;
}

#homeRed{
    color: red;
}

.blogText{
    margin-bottom: 3.125rem;
}

.contentImage{
    display: flex;
    gap: 1rem;
}

@media (max-width: 768px){
    .contentImage{
        display: block;
        padding: 0.25rem 0rem;
    }
}

.contentImage img{
    width: 9.25rem;
    height: 9.25rem;
}

hr{
    margin: 1.25rem 0rem;
}

.blogMain #date{
    font-weight: bolder;
    font-size: 1.125rem;
}

.blogMain #vr{
    padding: 0rem 2rem;
}

.blogMain #borderbox{
    border-radius: 1rem;
    background-color: rgb(3, 3, 43);
    color: white;
    padding: 0.125rem;
    box-shadow: 100 0.25rem 0.625rem rgb(3,3,43);
}

.blogMain h2{
    margin: 0.4375rem 0rem;
}
.blogMain p{
    margin: 0.4375rem 0rem;
}

.blogMain h3{
    display: inline;
    margin: 0.3125rem 0rem;
    white-space: pre;
}

.greyText{
    color: lightgrey;
}

footer #imagenes{
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    padding-bottom: 0.625rem;
    
}

footer img{
    width: 1.875rem;
    height: 1.875rem;
}

footer p{
    display: block;
    text-align: center;
    padding-bottom: 4.0625rem;
}

