@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Heebo:wght@100..900&display=swap');

:root {
	--primary-color: #ff6464;
	--secondary-color: #00a8cc;
	--dark-color: #21243d;
	--light-color: #8695a4;
	--white-color: #ffffff;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Heebo", sans-serif;
}

body {
	display: grid;
	min-height: 100vh;
	grid-template-areas: 'header' 'main' 'footer';
	grid-template-rows: auto 1fr auto;
}

header {
	grid-area: header;
}

main {
	grid-area: main;
}

.footer {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 20px 0;
    grid-area: footer;
}

.social {
    list-style: none;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.social li {
    display: inline-block;
}

.social img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.social img:hover {
    transform: scale(1.2);
}

@media (max-width: 48rem) {
    .social {
        gap: 0.938rem;
    }

    .social img {
        width: 1.875rem;
        height: 1.875rem;
    }
}

.footer {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    padding: 1.25rem 0;
}

.social {
    list-style: none;
    padding-bottom: 0.625rem;
    display: flex;
    justify-content: center;
    gap: 1.563rem;
}

.social li {
    display: inline-block;
}

.social img {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s ease;
}

.social img:hover {
    transform: scale(1.2);
}